ul {
    margin-top: .75em;
    font-size: 1.14em;
}

li {
    padding-left: .45em;
}

h1, h2, h3 {
    font-style: oblique;
}

h1 {
    letter-spacing: .085em!important;
    text-align: center;
    margin-bottom: 0!important;
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 4rem!important;
    }
}

h2 {
    margin-top: 250px!important;
    letter-spacing: .14em;
}

.projects-title {
    margin-bottom: .2em!important;
}

.contact-title {
    margin-top: 400px!important;
}

.slogan {
    font-size: 1.6em!important;
    margin-top: 0.055em!important;
    text-align: center;
}

.project-card:focus h3, .project-card:hover h3 {
    color: rgba(252, 152, 68, .92)!important;

}

@media screen and (min-width: 1600px) {
    .project-card-list {
        margin-left: -10%!important;
        margin-right: -10%!important;
        grid-gap: 4rem!important;
    }
}


@media screen and (min-width: 800px) {
    .project-card-list {
        grid-gap: 3.5rem!important;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 799px) {
    .project-card-list { 
        grid-gap: 2rem;
        grid-template-columns: repeat(1,1fr)!important;
    }

    h2 {
        margin-top: 500px!important;
        letter-spacing: .14em;
    }
    
    .contact-title {
        margin-top: 550px!important;
    }
}


@media screen and (max-width: 600px) {

    ul {
        font-size: 1em;
    }
    li {
        padding-left: .25em;
    }
}

.spark-links {
    padding-bottom: 5px;
}

.spark-links a:hover {
    color: rgba(252, 152, 68, .85)!important;
}

footer {
    position: absolute!important;
    padding-bottom: 90px!important;
    bottom: 0!important;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    align-content: center;
    text-align: center;
}


.copy-text {
    font-size: 1.25em;
    font-weight: bold;
}

.btn-toggle-light, .btn-toggle-dark {
    cursor: pointer;
    border: none!important;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: 400;
    font-size: .9em;
    margin-bottom: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: background-color 1.75s ease-out;
    -moz-transition: background-color 1.75s ease-out;
    -o-transition: background-color 1.75s ease-out;
    transition: background-color 1.75s ease-out;
}

.btn-toggle-light img, .btn-toggle-dark img {
    max-height: 50px;
    width: auto;
}

.btn-toggle-light {
    background: #7299ba;
}

.btn-toggle-dark {
    background: #9cd6cd;
}

.btn-toggle-light:hover, .btn-toggle-light:focus {
    background: #9cd6cd;
}

.btn-toggle-light:hover .dark-mode-icon, .btn-toggle-light:focus .dark-mode-icon {
    filter: invert(91%) sepia(17%) saturate(1494%) hue-rotate(357deg) brightness(140%) contrast(96%);
}

.btn-toggle-dark:hover, .btn-toggle-dark:focus {
    background: #7299ba;
}

.btn-toggle-dark:hover .light-mode-icon, .btn-toggle-dark:focus .light-mode-icon  {
    filter: invert(7%) sepia(8%) saturate(900%) hue-rotate(295deg) brightness(88%) contrast(85%);
}

.light-mode-icon {
    filter: invert(87%) sepia(79%) saturate(435%) hue-rotate(348deg) brightness(106%) contrast(111%);
}
