ul {
    margin-top: .75em;
    font-size: 1.14em;
}

li {
    padding-left: .45em;
}

h1, h2, h3 {
    font-style: oblique;
}

h1 {
    letter-spacing: .1em!important;
    text-align: center;
    font-size: 4.25em!important;
    margin-bottom: 0!important;
}

h2 {
    margin-top: 250px!important;
    letter-spacing: .14em;
}

.contact-title {
    margin-top: 350px!important;
}

.slogan {
    font-size: 1.6em!important;
    margin-top: .23em!important;
    text-align: center;
}

.project-card:focus, .project-card:hover {
    -webkit-box-shadow: inset 0px 0px 1px 7px rgba(237,137,54,1);
    -moz-box-shadow: inset 0px 0px 1px 7px rgba(237,137,54,1);
    box-shadow: inset 0px 0px 1px 7px rgba(237,137,54,1);
}

@media screen and (min-width: 1200px) {
    .project-card-list {
        margin-left: -10%!important;
        margin-right: -10%!important;
        grid-gap: 4rem!important;
    }
}


@media screen and (min-width: 800px) {
    .project-card-list {
        grid-gap: 3.5rem!important;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 799px) {
    .project-card-list { 
        grid-gap: 2rem;
        grid-template-columns: repeat(1,1fr)!important;
    }
}


@media screen and (max-width: 600px) {

    ul {
        font-size: 1em;
    }
    li {
        padding-left: .25em;
    }
}

footer {
    position: absolute!important;
    padding-bottom: 90px!important;
    bottom: 0!important;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    align-content: center;
    text-align: center;
}


.copy-text {
    font-size: 1.25em;
    font-weight: bold;
}
